/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/.env
/.env.backup
/.env.production
/.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
.DS_Store
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/framework/cache/data/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep
